html {background-color: #222222}
body {font-family: "Courier New", Courier, monospace; margin: 1em 2em 1em 2em; font-size: 100%; line-height: 130%;}
h1, h2, h3, h4, h5, h6 {font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold; line-height:100%; margin-top: 1.5em; margin-bottom: 0.5em;}
h1 {font-size: 2.6em; color: #00ff55;}
h2 {font-size: 2.2em; color: #00ff88;}
h3 {font-size: 1.8em; color: #00ffaa;}
h4 {font-size: 1.4em; color: #00ffee;}
h5 {font-size: 1.3em; color: #00eeff;}
h6 {font-size: 1.2em; color: #00aaff;}
p, blockquote, table, ul, ol, dl {margin-top: 1em; margin-bottom: 1em; color: #00ff55}
pre {margin-top: 1em; margin-bottom: 1em; color: #00ff55; background-color: #111111; font-color: #00ff00},
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em; color: #00ff55}
a:link {color: lightgreen;}
a:visited {color: green;}
a:hover {color: #00ffee;}
li {margin: 0.3em auto; color: #00ff55}
ul {margin-left: 2em; padding-left: 0.5em;}
dt {font-weight: bold;}
img {border: none;}
pre {border-left: 1px solid #00ff00; margin-left: 2em; padding-left: 0.5em;}
blockquote {padding: 0.4em; background-color: #000000;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #000000;}
hr {border: none; border-top: 1px solid #00ff00; width: 100%;}
del {text-decoration: line-through; color: #777777;}
.toc li {list-style-type: none;}
.todo {font-weight: bold; background-color: #000000; color: #000000;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.center {margin-left: auto; margin-right: auto;}
.tag {background-color: #000000; font-family: monospace; padding: 2px;}
.header a {text-decoration: none; color: inherit;}

code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0px 3px;
    display: inline-block;
    color: #52595d;
    border: 1px solid #ccc;
    background-color: #000000;
}
